
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@keyframes scroll {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 5s linear infinite;
  }
  